<h2>Edytuj <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Czekamy na potwierdzenie: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "hasło"%> <i>(zostaw pole puste jeśli nie chcesz zmienić hasła)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em> minimum <%= @minimum_password_length %> znaków</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "potwierdź hasło" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "aktualne hasło" %> <i>(potrzebne, żeby wprowadzić zmiany)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Aktualizuj" %>
  </div>
<% end %>

<h3>Usuń moje konto</h3>

<p>Nie podoba ci się nasza stona? <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Czy na pewno chcesz to zrobić?" }, method: :delete %></p>

<%= link_to "powrót", :back %>
