<h1>Listing pairs</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Second</th>
      <th>Strength</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pairs.each do |pair| %>
      <tr>
        <td><%= pair.word_id %></td>
        <td><%= pair.second_id %></td>
        <td><%= pair.strength %><%= link_to 'Usuń', [pair.word, pair], method: :delete, data: { confirm: 'Are you sure?' } %>
				
				<%= link_to "Delete", "pairs/#{pair.id}", :confirm => "Are you sure you want to delete this attachment?", :method => :delete %>
				</td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

