<p id="notice"> <%= notice %> </p>

<div class="posts-list">

  <% if user_signed_in? %>
    <% if current_user.username == "admin" %>
      <h1><%= @word.content %>&nbsp;&nbsp;<%= link_to '<i class="fa fa-pencil-square" aria-hidden="true"></i>'.html_safe,
       edit_word_path(@word) %></h1>
      <div class="pairs">
        <h3>Pary:</h3>
        <% @word.pairs.each do |pair| %>
          <p>
            <strong>
              <%= pair.word.content%>
        		  <% if Word.exists?(pair.second_id) %>
        		    - <%= Word.find(pair.second_id).content %>
        		  <% end %>
            </strong>
          </p>
        <% end %>
      </div>
      
    <% else %>
      <h1><%= @word.content %></h1>
    <% end %>
  	
    <div class="words-association">

      <%= form_for([@word, @word.pairs.build]) do |f| %>

        <p>
          <h3><%= f.label 'Podaj skojarzenie:' %></h3>
          <%= f.text_field :second_id, :required => 'required' %>
        </p>
        <p class ="actions">
          <%= f.submit 'Dodaj' %>
        </p>
      <% end %>
      <div class="wa-button">
        <%= link_to 'Kolejne Słowo&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-forward" aria-hidden="true"></i>'.html_safe, random_path %>
      </div>
    </div>


  <% end %>
  
</div>