<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> <%= t('errors.post') %> </h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('post.title') %><br>
    <%= f.text_field :title, :required => 'required' %>
  </div>
  <div class="field">
    <%= f.label t('post.content') %><br>
    <%= f.text_area :content, :required => 'required' %>
  </div>
  <div class="field">
    <%= f.label t('post.summary') %><br>
    <%= f.text_area :summary, :required => 'required' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
