<div><h2><%= @word.content %></h2></div>
<% if user_signed_in? %>
<%= form_for([@word, @word.pairs.build]) do |f| %>

	<p>
		<h3><%= f.label  t('word.prompt') %></h3>
		<%= f.text_field :second_id, :required => 'required' %>
	</p>
	<p class="actions">
		<%= f.submit %>
	</p>
<% end %>

<% else %>
	<h3> <%= t('word.login') %> </h3>
<% end %>
