<p id="notice"><%= notice %></p>

<div class="posts-list">
	<div class="page-heading">
		<h1>Wszystkie opowiadania</h1>
	</div>

	<% @posts.each do |post| %>
		<div class="posts-summary">
		     <div class="post-summary-header">
		    			<div class="heading">
				    		<div class="icon">
				    			<i class="fa fa-2x fa-quote-right" aria-hidden="true"></i>
				    		</div>
				    		<h4> 
		       					<%= link_to post.title, post %> -&nbsp;<a href="/11_zygmunt/write/user/<%= post.user.username %>"><%= post.user.username %></a>
				    		</h4>
				    	</div>
						<div class="post-management">
					 		<% if current_user && (current_user == post.user || current_user.username == "admin") %>
					 			<%= link_to '<i class="fa fa-pencil-square" aria-hidden="true"></i>'.html_safe,
		 edit_post_path(post) %>&nbsp;&nbsp;|&nbsp;&nbsp;
								<%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, post, method: :delete, data: { confirm: t('post.confirm') } %>
					 		<% end %>
					 	</div>
						<div class="datetime">
							<%= post_date(post) %> 
						</div>
			       	</div>
					<blockquote>
			        	<%= post.summary %>
			        </blockquote>
			        <div class="read-more">
						<%= post_comments(post) %>
					</div>
		</div>
	<% end %>

	<div class='flickr_pagination'>
		<%= will_paginate @posts, :previous_label => '<i class="fa fa-caret-left" aria-hidden="true"></i>'.html_safe, :next_label => '<i class="fa fa-caret-right" aria-hidden="true"></i>'.html_safe %>
	</div>
	<br>
</div>