<p id="notice"><%= notice %></p>
<div class="posts-list">
	<% if user_signed_in? %>
		<% if current_user.username == "admin" %>
			<div id ="admin">
				<div class="page-heading">
					<h1><%= t('user.admin') %></h1>
				</div>
				<p>
				<%= link_to t('user.news'), new_post_path %>
				<%= link_to t('word.list'), words_path %> </p><p>
				<%= link_to t('trio.list'), trios_path %> 
				<%= link_to t('trio.random'), rand_path, :method => :post, data: { confirm: t('trio.confirm') } %>
				</p><br /><br />
			</div>
			<div class="page-heading">
				<h1> <%= t('post.admin') %> </h1>
			</div>
		<% else %>
			
			<div class="page-heading">
				<h1><%= t('user.posts') %></h1> 
			</div>
		<% end %>
	   	<% @posts.each do |post| %>
			<div class="posts-summary">
			     <div class="post-summary-header">
			    			<div class="heading">
					    		<div class="icon">
					    			<i class="fa fa-2x fa fa-book" aria-hidden="true"></i>
					    		</div>
					    		<h4> 
			       					<%= link_to post.title, post %> -&nbsp;<%= post.user.username %></a>
					    		</h4>
					    	</div>
							<div class="post-management">
						 		<% if current_user && (current_user == post.user || current_user.username == "admin") %>
						 			<%= link_to '<i class="fa fa-pencil-square" aria-hidden="true"></i>'.html_safe,
			 edit_post_path(post) %>&nbsp;&nbsp;|&nbsp;&nbsp;
									<%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, post, method: :delete, data: { confirm: 'Jesteś pewny/a, że chcesz usunąć?' } %>
						 		<% end %>
						 	</div>
							<div class="datetime">
								<%= post_date(post) %> 
							</div>
				       	</div>
						<blockquote>
				        	<%= post.summary %>
				        </blockquote>
				        <div class="read-more">
			        		<%= post_comments(post) %>
						</div>
			</div>
		<% end %>
	<% else %>
	<div class="page-heading">
		<h1><%= t('user.notlogged') %></h1>
	</div>

	<% end %>
</div>