<p id="notice"><%= notice %></p>

<div class="lead">
  <div class="title">
    <h1><strong><%= @post.title %></strong></h1>
    <h2><strong><%= @post.user.username %></a> </strong></h2> 
     <div class="date"><%= post_date(@post) %></div>
  </div>

<div class="story-summary">
  <hr>
    <blockquote>
      <%= @post.summary %>
    </blockquote>
</div>

</div>
<p>
  <%= h(@post.content).gsub(/\n/, ' <br /> ').html_safe %>
</p>
<div class="post-actions">
  <p>
    <% if current_user == @post.user %>
      <%= link_to  '<i class="fa fa-3x fa-pencil-square" aria-hidden="true"></i>'.html_safe, edit_post_path(@post) %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to '<i class="fa fa-3x fa-trash" aria-hidden="true"></i>'.html_safe, @post, method: :delete, data: { confirm: t('post.confirm') } %>
    <% end %>
  </p>
</div>
<hr>

<div class="post-bottom">
  <div class="go-back">
    <%= link_to '<i class="fa fa-backward" aria-hidden="true"></i>&nbsp;&nbsp;Powrót'.html_safe, posts_path %>
  </div>
  <div class="comment-count">
    <p> <%= post_comments(@post) %> </p>
  </div>
</div>

<% @post.comments.each do |comment| %>
  <div class="posts-summary">
    <div class="post-summary-header">
        <div class="heading">
          <div class="icon">
            <i class="fa fa-2x fa-comments-o" aria-hidden="true"></i>
          </div>
        <h4>
          <strong><%= comment.user.username %></strong>
        </h4>
        <div class="post-management">
          <%if current_user == comment.user %>
              <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, [comment.post, comment], method: :delete, data: { confirm: 'Czy na pewno usunąć ten komentarz?' } %>
          <% end %>
        </div>
        <div class="datetime">
          <%= post_date(comment) %>
        </div>
      </div>
      <div>
          <%= comment.comment %>
      </div>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="comment-box">
    <p><%= t('comment.add') %>
      <strong><%= current_user.username %></strong><br>
    </p>
  	
    <%= form_for([@post, @post.comments.build]) do |f| %>

      <p>
        <%= f.text_area :comment, :required => 'required' %>
      </p>
      <p class="icon-comment"><i class="fa fa-2x fa-comments-o" aria-hidden="true"></i></p>
      <div class="super">
        <p class ="actions">
          <%= f.submit  %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
