<%= form_for(@trio) do |f| %>
  <% if @trio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trio.errors.count, "error") %> prohibited this trio from being saved:</h2>

      <ul>
      <% @trio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_id %><br>
    <%= f.number_field :first_id %>
  </div>
  <div class="field">
    <%= f.label :second_id %><br>
    <%= f.number_field :second_id %>
  </div>
  <div class="field">
    <%= f.label :third_id %><br>
    <%= f.number_field :third_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
