<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @trio.first_id %>
</p>

<p>
  <strong>Second:</strong>
  <%= @trio.second_id %>
</p>

<p>
  <strong>Third:</strong>
  <%= @trio.third_id %>
</p>

<%= link_to 'Edit', edit_trio_path(@trio) %> |
<%= link_to 'Back', trios_path %>
